In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("/kaggle/input/netflix-titles-csv/netflix_titles.csv")

In [14]:
df.info(), df.describe(), df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

(None,
             show_id  release_year
 count  6.234000e+03    6234.00000
 mean   7.670368e+07    2013.35932
 std    1.094296e+07       8.81162
 min    2.477470e+05    1925.00000
 25%    8.003580e+07    2013.00000
 50%    8.016337e+07    2016.00000
 75%    8.024489e+07    2018.00000
 max    8.123573e+07    2020.00000,
     show_id     type                                    title  \
 0  81145628    Movie  Norm of the North: King Sized Adventure
 1  80117401    Movie               Jandino: Whatever it Takes
 2  70234439  TV Show                       Transformers Prime
 3  80058654  TV Show         Transformers: Robots in Disguise
 4  80125979    Movie                             #realityhigh
 5  80163890  TV Show                                  Apaches
 6  70304989    Movie                                 Automata
 7  80164077    Movie       Fabrizio Copano: Solo pienso en mi
 8  80117902  TV Show                             Fire Chasers
 9  70304990    Movie                              Good People

                           director  \
 0         Richard Finn, Tim Maltby
 1                              NaN
 2                              NaN
 3                              NaN
 4                 Fernando Lebrija
 5                              NaN
 6                      Gabe Ibáñez
 7  Rodrigo Toro, Francisco Schultz
 8                              NaN
 9                Henrik Ruben Genz

                                                 cast  \
 0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
 1                                   Jandino Asporaat
 2  Peter Cullen, Sumalee Montano, Frank Welker, J...
 3  Will Friedle, Darren Criss, Constance Zimmer, ...
 4  Nesta Cooper, Kate Walsh, John Michael Higgins...
 5  Alberto Ammann, Eloy Azorín, Verónica Echegui,...
 6  Antonio Banderas, Dylan McDermott, Melanie Gri...
 7                                    Fabrizio Copano
 8                                                NaN
 9  James Franco, Kate Hudson, Tom Wilkinson, Omar...

                                           country         date_added  \
 0        United States, India, South Korea, China  September 9, 2019
 1                                  United Kingdom  September 9, 2016
 2                                   United States  September 8, 2018
 3                                   United States  September 8, 2018
 4                                   United States  September 8, 2017
 5                                           Spain  September 8, 2017
 6          Bulgaria, United States, Spain, Canada  September 8, 2017
 7                                           Chile  September 8, 2017
 8                                   United States  September 8, 2017
 9  United States, United Kingdom, Denmark, Sweden  September 8, 2017

    release_year    rating  duration  \
 0          2019     TV-PG    90 min
 1          2016     TV-MA    94 min
 2          2013  TV-Y7-FV  1 Season
 3          2016     TV-Y7  1 Season
 4          2017     TV-14    99 min
 5          2016     TV-MA  1 Season
 6          2014         R   110 min
 7          2017     TV-MA    60 min
 8          2017     TV-MA  1 Season
 9          2014         R    90 min

                                            listed_in  \
 0                 Children & Family Movies, Comedies
 1                                    Stand-Up Comedy
 2                                           Kids' TV
 3                                           Kids' TV
 4                                           Comedies
 5  Crime TV Shows, International TV Shows, Spanis...
 6  International Movies, Sci-Fi & Fantasy, Thrillers
 7                                    Stand-Up Comedy
 8                    Docuseries, Science & Nature TV
 9                      Action & Adventure, Thrillers

                                          description
 0  Before planning an awesome wedding for his gra...
 1  Jandino Asporaat riffs on the challenges of ra...
 2  With the help of three human allies, the Autob...
 3  When a prison ship crash unleashes hundreds of...
 4  When nerdy high schooler Dani finally attracts...
 5  A young journalist is forced into a life of cr...
 6  In a dystopian future, an insurance adjuster f...
 7  Fabrizio Copano takes audience participation t...
 8  As California's 2016 fire season rages, brave ...
 9  A struggling couple can't believe their luck w...  )

In [15]:
df['type'].value_counts()

type
Movie      4265
TV Show    1969
Name: count, dtype: int64

In [19]:
genres = (df['listed_in'].value_counts().head(10))
print(genres)

listed_in
Documentaries                                       299
Stand-Up Comedy                                     273
Dramas, International Movies                        248
Dramas, Independent Movies, International Movies    186
Comedies, Dramas, International Movies              174
Kids' TV                                            159
Documentaries, International Movies                 150
Children & Family Movies, Comedies                  129
Children & Family Movies                            120
Comedies, International Movies                      120
Name: count, dtype: int64

In [24]:
df[df['release_year'] == 2019]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
34,80221550,TV Show,Archibald's Next Big Thing,NaN,"Tony Hale, Rosamund Pike, Jordan Fisher, Chels...",NaN,"September 6, 2019",2019,TV-Y7,1 Season,"Kids' TV, TV Comedies",Happy-go-lucky chicken Archibald may not remem...
35,81154455,Movie,Article 15,Anubhav Sinha,"Ayushmann Khurrana, Nassar, Manoj Pahwa, Kumud...",India,"September 6, 2019",2019,TV-MA,125 min,"Dramas, International Movies, Thrillers",The grim realities of caste discrimination com...
38,81132437,Movie,Kill Me If You Dare,Şenol Sönmez,"Murat Boz, Seda Bakan, Açelya Topaloğlu, Özgür...",NaN,"September 6, 2019",2019,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."
39,80178151,TV Show,The Spy,NaN,"Sacha Baron Cohen, Noah Emmerich, Hadar Ratzon...",France,"September 6, 2019",2019,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers","In the 1960s, Israeli clerk-turned-secret agen..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6198,80189829,TV Show,The Protector,NaN,"Çağatay Ulusoy, Ayça Ayşin Turan, Hazar Ergüçl...",Turkey,"April 26, 2019",2019,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Discovering his ties to a secret ancient order...
6204,80091341,TV Show,Cuckoo,NaN,"Andy Samberg, Taylor Lautner, Greg Davies, Hel...",United Kingdom,"April 19, 2019",2019,TV-14,5 Seasons,"British TV Shows, International TV Shows, TV C...",Rachel shocks her proper British parents when ...
6206,80173174,TV Show,Samantha!,NaN,"Emmanuelle Araújo, Douglas Silva, Sabrina Nona...",Brazil,"April 19, 2019",2019,TV-MA,2 Seasons,"International TV Shows, TV Comedies","A child star in the '80s, Samantha clings to t..."
6215,80066227,TV Show,Crazy Ex-Girlfriend,NaN,"Rachel Bloom, Vincent Rodriguez III, Santino F...",United States,"April 13, 2019",2019,TV-14,4 Seasons,"Romantic TV Shows, TV Comedies","Still pining for Josh, the boy who dumped her ..."
6219,80186475,TV Show,Pokémon the Series,NaN,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,"April 1, 2019",2019,TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV",Ash and his Pikachu travel to the Alola region...